<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.id12533030.lifediary">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.DiaryActivity"
            android:label="@string/diary_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".view.DayActivity"
            android:label="@string/day_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".view.PlanActivity"
            android:label="@string/plan_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".view.SettingActivity"
            android:label="@string/setting_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".view.AddHomePage"
            android:label="@string/add_homepage_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>

        <meta-data android:name="DATABASE" android:value="life_diary_sugar_orm.db" />
        <meta-data android:name="VERSION" android:value="9" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.id12533030.lifediary.model" />
    </application>

</manifest>
